case-street-ad.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <title>Наружная реклама</title>
    <link rel="stylesheet" href="./dist/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700">
  </head>
  <body>
    <header role="banner" class="header">
      <div class="header-contacts">
        <ul role="list">
          <li role="listitem"><a role="button" href="tel:0445001396">тел.: /044/ 500 13 96</a></li>
          <li role="listitem"><a role="button" href="mailto:info@takoma.com.ua">info@takoma.com.ua</a></li>
        </ul>
      </div><a href="index.html" role="link" title="На главную" class="logo"><img src="./dist/img/logo.png"></a>
      <div class="right-block">
        <nav role="navigation" class="nav">
          <ul role="list">
            <li role="listitem"><a href="index.html" role="link" title="Главная"><span>Главная</span></a></li>
            <li role="listitem" class="active"><a href="case.html" role="link" title="Кейс"><span>Кейс</span></a></li>
            <li role="listitem"><a href="clients.html" role="link" title="Клиенты"><span>Клиенты</span></a></li>
            <li role="listitem"><a href="contacts.html" role="link" title="Контакты"><span>Контакты</span></a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main role="main" class="case-page not-main-page">
      <div class="container">
        <div class="aside">
          <div class="side-nav">
            <ul>
              <li role="listitem"><a href="case.html" role="link" title="Реклама на FM">Реклама на FM</a></li>
              <li role="listitem"><a href="case-transport-ad.html" role="link" title="Реклама на транспорте">Реклама на транспорте</a></li>
              <li role="listitem"><a href="case-subway-ad.html" role="link" title="Реклама в метрополитене">Реклама в метрополитене</a></li>
              <li role="listitem" class="active"><a href="case-street-ad.html" role="link" title="Наружная реклама">Наружная реклама</a></li>
              <li role="listitem"><a href="case-souvenirs-ad.html" role="link" title="Сувенирная продукция">Сувенирная продукция</a></li>
              <li role="listitem"><a href="case-polyg-ad.html" role="link" title="Полиграфические изделия">Полиграфические изделия</a></li>
              <li role="listitem"><a href="case-btl-ad.html" role="link" title="BTL акции">BTL акции</a></li>
              <li role="listitem"><a href="case-press-ad.html" role="link" title="Реклама в прессе">Реклама в прессе</a></li>
            </ul>
          </div>
        </div>
        <div class="bar"><a href="case-advertise.html" role="link" class="case-content"><img src="./dist/img/case/case-1.jpg"/>
            <div class="case-title">
              <div class="company">Название работы</div>
              <div class="name">Название компании</div>
            </div></a><a href="case-advertise.html" role="link" class="case-content"><img src="./dist/img/case/case-2.jpg"/>
            <div class="case-title">
              <div class="company">Название работы</div>
              <div class="name">Название компании</div>
            </div></a>
        </div>
      </div>
    </main>
    <footer role="contentinfo" class="footer">
      <div class="cite">Любители глазеть на красочную рекламу, не имеют ничего общего с теми, кто заинтересован в покупке /Клод Хопкинс/</div>
      <div class="footer-side-left">
        <div class="logo"><img src="./dist/img/logo.png"></div>
        <div class="copyright">РМА ТАКОМА. Все права защищены</div>
      </div>
      <div class="footer-side-right">
        <div class="footer-contacts"><span>03022, г. Киев, ул. Васильковская, 30, оф. 215</span><a role="button" href="tel:0445001396">тел.: /044/ 500 13 96,</a><a role="button" href="mailto:info@takoma.com.ua">info@takoma.com.ua</a></div>
      </div>
    </footer>
    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./bower_components/placeholdem/placeholdem.min.js"></script>
    <script src="./bower_components/Swiper/dist/js/swiper.min.js"></script>
    <script src="./dist/js/app.js"></script>
  </body>
</html>

src/jade/case-street-ad.jade
include includes/mixins

doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, height=device-height, initial-scale=1.0")
        title Наружная реклама
        link(rel="stylesheet", href="./dist/css/styles.css")
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700')
    body
        header(role='banner').header
            .header-contacts
                ul(role='list')
                    li(role='listitem')
                        a(role='button' href='tel:0445001396') тел.: /044/ 500 13 96
                    li(role='listitem')
                        a(role='button' href='mailto:info@takoma.com.ua') info@takoma.com.ua
            a(href='index.html', role='link', title='На главную').logo
                img(src='./dist/img/logo.png')
            .right-block
                nav.nav(role='navigation')
                    ul(role='list')
                        li(role='listitem')
                            a(href='index.html' role='link' title='Главная')
                                span Главная
                        li(role='listitem').active
                            a(href='case.html' role='link' title='Кейс')
                                span Кейс
                        li(role='listitem')
                            a(href='clients.html' role='link' title='Клиенты')
                                span Клиенты
                        li(role='listitem')
                            a(href='contacts.html' role='link' title='Контакты')
                                span Контакты
        main(role='main').case-page.not-main-page
            .container
                .aside
                    .side-nav
                        ul(role=list)
                            li(role='listitem')
                                a(href='case.html', role='link', title='Реклама на FM') Реклама на FM
                            li(role='listitem')
                                a(href='case-transport-ad.html', role='link', title='Реклама на транспорте') Реклама на транспорте
                            li(role='listitem')
                                a(href='case-subway-ad.html', role='link', title='Реклама в метрополитене') Реклама в метрополитене
                            li(role='listitem').active
                                a(href='case-street-ad.html', role='link', title='Наружная реклама') Наружная реклама
                            li(role='listitem')
                                a(href='case-souvenirs-ad.html', role='link', title='Сувенирная продукция') Сувенирная продукция
                            li(role='listitem')
                                a(href='case-polyg-ad.html', role='link', title='Полиграфические изделия') Полиграфические изделия
                            li(role='listitem')
                                a(href='case-btl-ad.html', role='link', title='BTL акции') BTL акции
                            li(role='listitem')
                                a(href='case-press-ad.html', role='link', title='Реклама в прессе') Реклама в прессе
                .bar
                    +case('1', 'Название компании', 'Название работы')
                    +case('2', 'Название компании', 'Название работы')
        footer.footer(role='contentinfo')
            .cite Любители глазеть на красочную рекламу, не имеют ничего общего с теми, кто заинтересован в покупке /Клод Хопкинс/
            .footer-side-left
                .logo
                    img(src='./dist/img/logo.png')
                .copyright РМА ТАКОМА. Все права защищены
            .footer-side-right
                .footer-contacts
                    span 03022, г. Киев, ул. Васильковская, 30, оф. 215
                    a(role='button' href='tel:0445001396') тел.: /044/ 500 13 96,
                    a(role='button' href='mailto:info@takoma.com.ua') info@takoma.com.ua
        include includes/scripts
