src/jade/index.jade
include includes/mixins
doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, height=device-height, initial-scale=1.0")
        title Takoma
        link(rel="stylesheet", href="./dist/css/styles.css")
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700')
    body
        header(role='banner').header
            .header-contacts
                ul(role='list')
                    li(role='listitem')
                        a(role='button' href='tel:0445001396') тел.: /044/ 500 13 96
                    li(role='listitem')
                        a(role='button' href='mailto:info@takoma.com.ua') info@takoma.com.ua
            a(href='index.html', role='link', title='На главную').logo
                img(src='./dist/img/logo.png')
            .right-block
                nav.nav(role='navigation')
                    ul(role='list')
                        li(role='listitem').active
                            a(href='index.html' role='link' title='Главная')
                                span Главная
                        li(role='listitem')
                            a(href='case.html' role='link' title='Кейс')
                                span Кейс
                        li(role='listitem')
                            a(href='clients.html' role='link' title='Клиенты')
                                span Клиенты
                        li(role='listitem')
                            a(href='contacts.html' role='link' title='Контакты')
                                span Контакты
        .slider-block
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        .swiper-content-block
                            .img-wrapper
                                img(src='./dist/img/little-banner-1.png')
                            .img-title Название работы
                                span Краткое описание
                    .swiper-slide
                        .swiper-content-block
                            .img-wrapper
                                img(src='./dist/img/little-banner-2.png')
                            .img-title Название работы 2
                                span Краткое описание 2
                    .swiper-slide
                        .swiper-content-block
                            .img-wrapper
                                img(src='./dist/img/little-banner-3.jpg')
                            .img-title Название работы 3
                                span Краткое описание 3 Краткое описание 3 Краткое описание 3 Краткое описание 3
                    .swiper-slide
                        .swiper-content-block
                            .img-wrapper
                                img(src='./dist/img/little-banner-2.png')
                            .img-title Название работы 4
                                span Краткое описание 4

                .swiper-footer
                    .swiper-pagination

        .container
            .text-content
                .h1 Рекламно-маркетинговое агентство полного цикла  «ТАКОМА»
                p
                    b Наша команда
                    |– профессионалы с многолетним опытом и незапятнанной репутацией. Мы хорошо знаем свое дело, а самое главное  понимаем, что нужно нашим клиентам.
                p
                    b Преимущество
                    |в том, что мы работаем абсолютно по всем направлениям рекламной деятельности,  что позволит клиенту сэкономить свое драгоценное время, при выборе надежного партнера из числа многочисленных подрядчиков и исполнителей. Отзывы наших клиентов можно почитать в разделе Клиенты.
                p
                    b Наша обязанность
                    |поддержать Вас в продвижении своего продукта, а так же помочь Вам увеличить  уровень продаж, сделав это грамотно и быстро. Мы не боимся ответственности и ценим порядочность в отношениях, и никак иначе!
                .cite Цель рекламы состоит не в том, чтобы развлекать зрителя, а в том, чтобы продавать ему товар /Девид Огилви/

        footer.footer(role='contentinfo')
            .footer-side-left
                .logo
                    img(src='./dist/img/logo.png')
                .copyright РМА ТАКОМА. Все права защищены
            .footer-side-right
                .footer-contacts
                    span 03022, г. Киев, ул. Васильковская, 30, оф. 215
                    a(role='button' href='tel:0445001396') тел.: /044/ 500 13 96,
                    a(role='button' href='mailto:info@takoma.com.ua') info@takoma.com.ua
        include includes/scripts

index.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <title>Takoma</title>
    <link rel="stylesheet" href="./dist/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700">
  </head>
  <body>
    <header role="banner" class="header">
      <div class="header-contacts">
        <ul role="list">
          <li role="listitem"><a role="button" href="tel:0445001396">тел.: /044/ 500 13 96</a></li>
          <li role="listitem"><a role="button" href="mailto:info@takoma.com.ua">info@takoma.com.ua</a></li>
        </ul>
      </div><a href="index.html" role="link" title="На главную" class="logo"><img src="./dist/img/logo.png"></a>
      <div class="right-block">
        <nav role="navigation" class="nav">
          <ul role="list">
            <li role="listitem" class="active"><a href="index.html" role="link" title="Главная"><span>Главная</span></a></li>
            <li role="listitem"><a href="case.html" role="link" title="Кейс"><span>Кейс</span></a></li>
            <li role="listitem"><a href="clients.html" role="link" title="Клиенты"><span>Клиенты</span></a></li>
            <li role="listitem"><a href="contacts.html" role="link" title="Контакты"><span>Контакты</span></a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="slider-block">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="swiper-content-block">
              <div class="img-wrapper"><img src="./dist/img/little-banner-1.png"></div>
              <div class="img-title">Название работы<span>Краткое описание</span></div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-content-block">
              <div class="img-wrapper"><img src="./dist/img/little-banner-2.png"></div>
              <div class="img-title">Название работы 2<span>Краткое описание 2</span></div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-content-block">
              <div class="img-wrapper"><img src="./dist/img/little-banner-3.jpg"></div>
              <div class="img-title">Название работы 3<span>Краткое описание 3 Краткое описание 3 Краткое описание 3 Краткое описание 3</span></div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-content-block">
              <div class="img-wrapper"><img src="./dist/img/little-banner-2.png"></div>
              <div class="img-title">Название работы 4<span>Краткое описание 4</span></div>
            </div>
          </div>
        </div>
        <div class="swiper-footer">
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="text-content">
        <div class="h1">Рекламно-маркетинговое агентство полного цикла  «ТАКОМА»</div>
        <p><b>Наша команда</b>– профессионалы с многолетним опытом и незапятнанной репутацией. Мы хорошо знаем свое дело, а самое главное  понимаем, что нужно нашим клиентам.</p>
        <p><b>Преимущество</b>в том, что мы работаем абсолютно по всем направлениям рекламной деятельности,  что позволит клиенту сэкономить свое драгоценное время, при выборе надежного партнера из числа многочисленных подрядчиков и исполнителей. Отзывы наших клиентов можно почитать в разделе Клиенты.</p>
        <p><b>Наша обязанность</b>поддержать Вас в продвижении своего продукта, а так же помочь Вам увеличить  уровень продаж, сделав это грамотно и быстро. Мы не боимся ответственности и ценим порядочность в отношениях, и никак иначе!</p>
        <div class="cite">Цель рекламы состоит не в том, чтобы развлекать зрителя, а в том, чтобы продавать ему товар /Девид Огилви/</div>
      </div>
    </div>
    <footer role="contentinfo" class="footer">
      <div class="footer-side-left">
        <div class="logo"><img src="./dist/img/logo.png"></div>
        <div class="copyright">РМА ТАКОМА. Все права защищены</div>
      </div>
      <div class="footer-side-right">
        <div class="footer-contacts"><span>03022, г. Киев, ул. Васильковская, 30, оф. 215</span><a role="button" href="tel:0445001396">тел.: /044/ 500 13 96,</a><a role="button" href="mailto:info@takoma.com.ua">info@takoma.com.ua</a></div>
      </div>
    </footer>
    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./bower_components/placeholdem/placeholdem.min.js"></script>
    <script src="./bower_components/Swiper/dist/js/swiper.min.js"></script>
    <script src="./dist/js/app.js"></script>
  </body>
</html>
