reviews.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <title>Отзывы</title>
    <link rel="stylesheet" href="./dist/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700">
  </head>
  <body>
    <header role="banner" class="header">
      <div class="header-contacts">
        <ul role="list">
          <li role="listitem"><a role="button" href="tel:0445001396">тел.: /044/ 500 13 96</a></li>
          <li role="listitem"><a role="button" href="mailto:info@takoma.com.ua">info@takoma.com.ua</a></li>
        </ul>
      </div><a href="index.html" role="link" title="На главную" class="logo"><img src="./dist/img/logo.png"></a>
      <div class="right-block">
        <nav role="navigation" class="nav">
          <ul role="list">
            <li role="listitem"><a href="index.html" role="link" title="Главная"><span>Главная</span></a></li>
            <li role="listitem"><a href="case.html" role="link" title="Кейс"><span>Кейс</span></a></li>
            <li role="listitem" class="active"><a href="clients.html" role="link" title="Клиенты"><span>Клиенты</span></a></li>
            <li role="listitem"><a href="contacts.html" role="link" title="Контакты"><span>Контакты</span></a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main role="main" class="clients-page not-main-page">
      <div class="container">
        <div class="aside">
          <div class="side-nav">
            <ul>
              <li role="listitem"><a href="clients.html" role="link" title="Клиенты">Клиенты</a></li>
              <li role="listitem" class="active"><a href="reviews.html" role="link" title="Отзывы">Отзывы</a></li>
            </ul>
          </div>
        </div>
        <div class="bar">
          <div class="review">
            <div class="review-img"><img src="./dist/img/clients/client-1.png"></div>
            <div class="review-content">
              <div class="name">Иванов Иван Иванович<span>президент крупной компании</span></div>
              <div class="text">“Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem sint voluptate cumque perspiciatis, accusamus quibusdam et explicabo nisi, quasi maxime fugiat, porro! Exercitationem praesentium nulla doloremque est aliquid, aut vitae! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem sint voluptate cumque perspiciatis, accusamus quibusdam et explicabo nisi, quasi maxime fugiat, porro! Exercitationem praesentium nulla doloremque est aliquid, aut vitae!”</div>
            </div>
          </div>
          <div class="review">
            <div class="review-img"><img src="./dist/img/clients/client-2.png"></div>
            <div class="review-content">
              <div class="name">Иванов Иван Иванович<span>президент крупной компании</span></div>
              <div class="text">“Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem sint voluptate cumque perspiciatis, accusamus quibusdam et explicabo nisi, quasi maxime fugiat, porro! Exercitationem praesentium nulla doloremque est aliquid, aut vitae!”</div>
            </div>
          </div>
          <div class="review">
            <div class="review-img"><img src="./dist/img/clients/client-3.png"></div>
            <div class="review-content">
              <div class="name">Иванов Иван Иванович<span>президент крупной компании</span></div>
              <div class="text">“Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem sint voluptate cumque perspiciatis, accusamus quibusdam et explicabo nisi, quasi maxime fugiat, porro! Exercitationem praesentium nulla doloremque est aliquid, aut vitae!”</div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer role="contentinfo" class="footer">
      <div class="cite">Если ваша рекламам не отличается от остальных, это равносильно самоубийству /Уильям Бернах/</div>
      <div class="footer-side-left">
        <div class="logo"><img src="./dist/img/logo.png"></div>
        <div class="copyright">РМА ТАКОМА. Все права защищены</div>
      </div>
      <div class="footer-side-right">
        <div class="footer-contacts"><span>03022, г. Киев, ул. Васильковская, 30, оф. 215</span><a role="button" href="tel:0445001396">тел.: /044/ 500 13 96,</a><a role="button" href="mailto:info@takoma.com.ua">info@takoma.com.ua</a></div>
      </div>
    </footer>
    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./bower_components/placeholdem/placeholdem.min.js"></script>
    <script src="./bower_components/Swiper/dist/js/swiper.min.js"></script>
    <script src="./dist/js/app.js"></script>
  </body>
</html>

src/jade/reviews.jade
include includes/mixins
doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, height=device-height, initial-scale=1.0")
        title Отзывы
        link(rel="stylesheet", href="./dist/css/styles.css")
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700')
    body
        header(role='banner').header
            .header-contacts
                ul(role='list')
                    li(role='listitem')
                        a(role='button' href='tel:0445001396') тел.: /044/ 500 13 96
                    li(role='listitem')
                        a(role='button' href='mailto:info@takoma.com.ua') info@takoma.com.ua
            a(href='index.html', role='link', title='На главную').logo
                img(src='./dist/img/logo.png')
            .right-block
                nav.nav(role='navigation')
                    ul(role='list')
                        li(role='listitem')
                            a(href='index.html' role='link' title='Главная')
                                span Главная
                        li(role='listitem')
                            a(href='case.html' role='link' title='Кейс')
                                span Кейс
                        li(role='listitem').active
                            a(href='clients.html' role='link' title='Клиенты')
                                span Клиенты
                        li(role='listitem')
                            a(href='contacts.html' role='link' title='Контакты')
                                span Контакты
        main(role='main').clients-page.not-main-page
            .container
                .aside
                    .side-nav
                        ul(role=list)
                            li(role='listitem')
                                a(href='clients.html', role='link', title='Клиенты') Клиенты
                            li(role='listitem').active
                                a(href='reviews.html', role='link', title='Отзывы') Отзывы
                .bar
                    .review
                        .review-img
                            img(src='./dist/img/clients/client-1.png')
                        .review-content
                            .name Иванов Иван Иванович
                                span президент крупной компании
                            .text “Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem sint voluptate cumque perspiciatis, accusamus quibusdam et explicabo nisi, quasi maxime fugiat, porro! Exercitationem praesentium nulla doloremque est aliquid, aut vitae! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem sint voluptate cumque perspiciatis, accusamus quibusdam et explicabo nisi, quasi maxime fugiat, porro! Exercitationem praesentium nulla doloremque est aliquid, aut vitae!”
                    .review
                        .review-img
                            img(src='./dist/img/clients/client-2.png')
                        .review-content
                            .name Иванов Иван Иванович
                                span президент крупной компании
                            .text “Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem sint voluptate cumque perspiciatis, accusamus quibusdam et explicabo nisi, quasi maxime fugiat, porro! Exercitationem praesentium nulla doloremque est aliquid, aut vitae!”
                    .review
                        .review-img
                            img(src='./dist/img/clients/client-3.png')
                        .review-content
                            .name Иванов Иван Иванович
                                span президент крупной компании
                            .text “Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem sint voluptate cumque perspiciatis, accusamus quibusdam et explicabo nisi, quasi maxime fugiat, porro! Exercitationem praesentium nulla doloremque est aliquid, aut vitae!”
        footer.footer(role='contentinfo')
            .cite Если ваша рекламам не отличается от остальных, это равносильно самоубийству /Уильям Бернах/
            .footer-side-left
                .logo
                    img(src='./dist/img/logo.png')
                .copyright РМА ТАКОМА. Все права защищены
            .footer-side-right
                .footer-contacts
                    span 03022, г. Киев, ул. Васильковская, 30, оф. 215
                    a(role='button' href='tel:0445001396') тел.: /044/ 500 13 96,
                    a(role='button' href='mailto:info@takoma.com.ua') info@takoma.com.ua
        include includes/scripts
