vacances.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <title>Вакансии</title>
    <link rel="stylesheet" href="./dist/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700">
  </head>
  <body>
    <header role="banner" class="header">
      <div class="header-contacts">
        <ul role="list">
          <li role="listitem"><a role="button" href="tel:0445001396">тел.: /044/ 500 13 96</a></li>
          <li role="listitem"><a role="button" href="mailto:info@takoma.com.ua">info@takoma.com.ua</a></li>
        </ul>
      </div><a href="index.html" role="link" title="На главную" class="logo"><img src="./dist/img/logo.png"></a>
      <div class="right-block">
        <nav role="navigation" class="nav">
          <ul role="list">
            <li role="listitem"><a href="index.html" role="link" title="Главная"><span>Главная</span></a></li>
            <li role="listitem"><a href="case.html" role="link" title="Кейс"><span>Кейс</span></a></li>
            <li role="listitem"><a href="clients.html" role="link" title="Клиенты"><span>Клиенты</span></a></li>
            <li role="listitem" class="active"><a href="contacts.html" role="link" title="Контакты"><span>Контакты</span></a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main role="main" class="not-main-page vacances-page">
      <div class="tabs">
        <div class="container">
          <div class="aside">
            <div class="aside-title">Вакансии</div>
            <ul class="tabs">
              <li><a href="#tab1">Менеджер по работе с клиентами</a></li>
              <li><a href="#tab2">Дизайнер</a></li>
              <li><a href="#tab3">Программист</a></li>
            </ul>
          </div>
          <div class="bar">
            <div id="tab1" class="tab-content">
              <div class="tab-title">Менеджер по работе с клиентами</div>
              <p>Нам нужен менеджер по работе с клиентами.<br>На конкурсной основе.<br>Заработная плата:  ставка + %.<br>Полный рабочий день.<br>Отправляйте резюме на e-mail anna.takunova@takoma.com.ua<br>с указанием "Кадры решают все!" в теме письма.<br>Контактное лицо Такунова Анна<br>телефон +38 (097) 329 04 73</p>
            </div>
            <div id="tab2" class="tab-content">
              <div class="tab-title">Дизайнер</div>
              <p>Нам нужен дизайнер</p>
              <ul>
                <li>На конкурсной основе.</li>
                <li>Заработная плата:  ставка + %.</li>
                <li>Полный рабочий день.</li>
                <li>телефон +38 (097) 329 04 73</li>
              </ul>
              <p>Нам нужен дизайнер</p>
              <p>Нам нужен менеджер по работе с клиентами.<br>На конкурсной основе.<br>Заработная плата:  ставка + %.<br>Полный рабочий день.<br>Отправляйте резюме на e-mail anna.takunova@takoma.com.ua<br>с указанием "Кадры решают все!" в теме письма.<br>Контактное лицо Такунова Анна<br>телефон +38 (097) 329 04 73</p>
            </div>
            <div id="tab3" class="tab-content">
              <div class="tab-title">Программист</div>
              <p>Нам нужен дизайнер</p>
              <ul>
                <li>На конкурсной основе.</li>
                <li>Заработная плата:  ставка + %.</li>
                <li>Полный рабочий день.</li>
                <li>телефон +38 (097) 329 04 73</li>
              </ul>
              <p>Нам нужен дизайнер</p>
              <p>Нам нужен менеджер по работе с клиентами.<br>На конкурсной основе.<br>Заработная плата:  ставка + %.<br>Полный рабочий день.<br>Отправляйте резюме на e-mail anna.takunova@takoma.com.ua<br>с указанием "Кадры решают все!" в теме письма.<br>Контактное лицо Такунова Анна<br>телефон +38 (097) 329 04 73</p>
              <p>Нам нужен дизайнер</p>
              <ul>
                <li>На конкурсной основе.</li>
                <li>Заработная плата:  ставка + %.</li>
                <li>Полный рабочий день.</li>
                <li>телефон +38 (097) 329 04 73</li>
              </ul>
              <p>Нам нужен дизайнер</p>
              <p>Нам нужен менеджер по работе с клиентами.<br>На конкурсной основе.<br>Заработная плата:  ставка + %.<br>Полный рабочий день.<br>Отправляйте резюме на e-mail anna.takunova@takoma.com.ua<br>с указанием "Кадры решают все!" в теме письма.<br>Контактное лицо Такунова Анна<br>телефон +38 (097) 329 04 73</p>
              <p>Нам нужен дизайнер</p>
              <ul>
                <li>На конкурсной основе.</li>
                <li>Заработная плата:  ставка + %.</li>
                <li>Полный рабочий день.</li>
                <li>телефон +38 (097) 329 04 73</li>
              </ul>
              <p>Нам нужен дизайнер</p>
              <p>Нам нужен менеджер по работе с клиентами.<br>На конкурсной основе.<br>Заработная плата:  ставка + %.<br>Полный рабочий день.<br>Отправляйте резюме на e-mail anna.takunova@takoma.com.ua<br>с указанием "Кадры решают все!" в теме письма.<br>Контактное лицо Такунова Анна<br>телефон +38 (097) 329 04 73</p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer role="contentinfo" class="footer">
      <div class="cite">Многие мелочи стали важными вещами благодаря рекламе /Марк Твен/</div>
      <div class="footer-side-left">
        <div class="logo"><img src="./dist/img/logo.png"></div>
        <div class="copyright">РМА ТАКОМА. Все права защищены</div>
      </div>
      <div class="footer-side-right">
        <div class="footer-contacts"><span>03022, г. Киев, ул. Васильковская, 30, оф. 215</span><a role="button" href="tel:0445001396">тел.: /044/ 500 13 96,</a><a role="button" href="mailto:info@takoma.com.ua">info@takoma.com.ua</a></div>
      </div>
    </footer>
    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./bower_components/placeholdem/placeholdem.min.js"></script>
    <script src="./bower_components/Swiper/dist/js/swiper.min.js"></script>
    <script src="./dist/js/app.js"></script>
  </body>
</html>

src/jade/vacances.jade
include includes/mixins
doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, height=device-height, initial-scale=1.0")
        title Вакансии
        link(rel="stylesheet", href="./dist/css/styles.css")
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700')
    body
        header(role='banner').header
            .header-contacts
                ul(role='list')
                    li(role='listitem')
                        a(role='button' href='tel:0445001396') тел.: /044/ 500 13 96
                    li(role='listitem')
                        a(role='button' href='mailto:info@takoma.com.ua') info@takoma.com.ua
            a(href='index.html', role='link', title='На главную').logo
                img(src='./dist/img/logo.png')
            .right-block
                nav.nav(role='navigation')
                    ul(role='list')
                        li(role='listitem')
                            a(href='index.html' role='link' title='Главная')
                                span Главная
                        li(role='listitem')
                            a(href='case.html' role='link' title='Кейс')
                                span Кейс
                        li(role='listitem')
                            a(href='clients.html' role='link' title='Клиенты')
                                span Клиенты
                        li(role='listitem').active
                            a(href='contacts.html' role='link' title='Контакты')
                                span Контакты
        main(role='main').not-main-page.vacances-page
            .tabs
                .container
                    .aside
                        .aside-title Вакансии
                        ul.tabs
                            li
                                a(href='#tab1') Менеджер по работе с клиентами
                            li
                                a(href='#tab2') Дизайнер
                            li
                                a(href='#tab3') Программист

                    .bar
                        #tab1.tab-content
                            .tab-title Менеджер по работе с клиентами
                            p Нам нужен менеджер по работе с клиентами.
                                br
                                | На конкурсной основе.
                                br
                                | Заработная плата:  ставка + %.
                                br
                                | Полный рабочий день.
                                br
                                | Отправляйте резюме на e-mail anna.takunova@takoma.com.ua
                                br
                                | с указанием "Кадры решают все!" в теме письма.
                                br
                                | Контактное лицо Такунова Анна
                                br
                                | телефон +38 (097) 329 04 73
                        #tab2.tab-content
                            .tab-title Дизайнер
                            p Нам нужен дизайнер
                            ul
                                li На конкурсной основе.
                                li Заработная плата:  ставка + %.
                                li Полный рабочий день.
                                li телефон +38 (097) 329 04 73
                            p Нам нужен дизайнер
                            p Нам нужен менеджер по работе с клиентами.
                                br
                                | На конкурсной основе.
                                br
                                | Заработная плата:  ставка + %.
                                br
                                | Полный рабочий день.
                                br
                                | Отправляйте резюме на e-mail anna.takunova@takoma.com.ua
                                br
                                | с указанием "Кадры решают все!" в теме письма.
                                br
                                | Контактное лицо Такунова Анна
                                br
                                | телефон +38 (097) 329 04 73
                        #tab3.tab-content
                            .tab-title Программист
                            p Нам нужен дизайнер
                            ul
                                li На конкурсной основе.
                                li Заработная плата:  ставка + %.
                                li Полный рабочий день.
                                li телефон +38 (097) 329 04 73
                            p Нам нужен дизайнер
                            p Нам нужен менеджер по работе с клиентами.
                                br
                                | На конкурсной основе.
                                br
                                | Заработная плата:  ставка + %.
                                br
                                | Полный рабочий день.
                                br
                                | Отправляйте резюме на e-mail anna.takunova@takoma.com.ua
                                br
                                | с указанием "Кадры решают все!" в теме письма.
                                br
                                | Контактное лицо Такунова Анна
                                br
                                | телефон +38 (097) 329 04 73
                            p Нам нужен дизайнер
                            ul
                                li На конкурсной основе.
                                li Заработная плата:  ставка + %.
                                li Полный рабочий день.
                                li телефон +38 (097) 329 04 73
                            p Нам нужен дизайнер
                            p Нам нужен менеджер по работе с клиентами.
                                br
                                | На конкурсной основе.
                                br
                                | Заработная плата:  ставка + %.
                                br
                                | Полный рабочий день.
                                br
                                | Отправляйте резюме на e-mail anna.takunova@takoma.com.ua
                                br
                                | с указанием "Кадры решают все!" в теме письма.
                                br
                                | Контактное лицо Такунова Анна
                                br
                                | телефон +38 (097) 329 04 73
                            p Нам нужен дизайнер
                            ul
                                li На конкурсной основе.
                                li Заработная плата:  ставка + %.
                                li Полный рабочий день.
                                li телефон +38 (097) 329 04 73
                            p Нам нужен дизайнер
                            p Нам нужен менеджер по работе с клиентами.
                                br
                                | На конкурсной основе.
                                br
                                | Заработная плата:  ставка + %.
                                br
                                | Полный рабочий день.
                                br
                                | Отправляйте резюме на e-mail anna.takunova@takoma.com.ua
                                br
                                | с указанием "Кадры решают все!" в теме письма.
                                br
                                | Контактное лицо Такунова Анна
                                br
                                | телефон +38 (097) 329 04 73

        footer.footer(role='contentinfo')
            .cite Многие мелочи стали важными вещами благодаря рекламе /Марк Твен/
            .footer-side-left
                .logo
                    img(src='./dist/img/logo.png')
                .copyright РМА ТАКОМА. Все права защищены
            .footer-side-right
                .footer-contacts
                    span 03022, г. Киев, ул. Васильковская, 30, оф. 215
                    a(role='button' href='tel:0445001396') тел.: /044/ 500 13 96,
                    a(role='button' href='mailto:info@takoma.com.ua') info@takoma.com.ua
        include includes/scripts
